{% extends "exotic_bay/base.html" %}
{% load crispy_forms_tags %}

{% block title_block %}Account{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row wow fadeIn">
            <div class='col-6 offset-3 py-3 px-md-5'>
                <div class="text-center">
                    <h1 class="h1 mb-3 font-weight-normal">E-mail Addresses</h1>
                    {% if user.emailaddress_set.all %}
                        <p>The following e-mail addresses are associated with your account:</p>

                        <form action="{% url 'account_email' %}" class="email_list" method="post">
                            {% csrf_token %}
                            <fieldset class="blockLabels">

                                {% for emailaddress in user.emailaddress_set.all %}
                                    <div class="form-group">
                                        <label class="form-check-label form-control"
                                               for="email_radio_{{ forloop.counter }}"
                                               class="{% if emailaddress.primary %}primary_email{% endif %}">

                                            <input class="form-check-input" id="email_radio_{{ forloop.counter }}"
                                                   type="radio" name="email"
                                                   {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                                                   value="{{ emailaddress.email }}"/>

                                            {{ emailaddress.email }}
                                            {% if emailaddress.verified %}
                                                <span class="verified float-right">Verified
                                                <i class="fas fa-check-circle"></i></span>
                                            {% else %}
                                                <span class="unverified float-right">Unverified
                                                <i class="fas fa-times-circle"></i></span>
                                            {% endif %}
                                            {% if emailaddress.primary %}<span class="primary">Primary</span>{% endif %}
                                        </label>
                                    </div>
                                {% endfor %}

                                <div class="btn-group">
                                    <button class="btn btn-primary" type="submit" name="action_primary">Make Primary
                                    </button>
                                    <button class="btn btn-secondary" type="submit" name="action_send">Re-send
                                        Verification
                                    </button>
                                    <button class="btn btn-danger" type="submit" name="action_remove">Remove</button>
                                </div>

                            </fieldset>
                        </form>

                    {% else %}
                        <p><strong>Warning:</strong> You currently do not have any e-mail address set up. You should
                            really add an e-mail address so you can receive notifications, reset your password, etc.</p>

                    {% endif %}
                    <hr/>
                    <h2 class="h2 mb-3 font-weight-normal">Add E-mail Address</h2>

                    <form method="post" action="{% url 'account_email' %}" class="add_email">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" name="action_add" type="submit">Add E-mail</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


<script type="text/javascript">
    (function () {
        var message = "Do you really want to remove the selected e-mail address";
        var actions = document.getElementsByName('action_remove');
        if (actions.length) {
            actions[0].addEventListener("click", function (e) {
                if (!confirm(message)) {
                    e.preventDefault();
                }
            });
        }
    })();
</script>
