{% extends "exotic_bay/base.html" %}
{% load account %}

{% block title_block %}Password Reset{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row wow fadeIn">
            <div class='col-6 offset-3 py-3 px-md-5'>
                <div class="text-center">
                    <h1 class="h1 mb-3 font-weight-normal">Password Reset</h1>

                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>We have sent you an e-mail. Please contact us if you do not receive it within a few
                        minutes.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
