{% extends "exotic_bay/base.html" %}

{% load account %}
{% load crispy_forms_tags %}

{% block title_block %}Password Reset{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row wow fadeIn">
            <div class='col-6 offset-3 py-3 px-md-5'>
                <div class="text-center">
                    <h1 class="h1 mb-3 font-weight-normal">Password Reset</h1>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing
                        you to reset
                        it.</p>

                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reset My Password"/>
                    </form>
                    <hr />
                    <p>Please contact us if you have any trouble resetting your password.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
