{% extends 'exotic_bay/base.html' %}

{% block body_block %}
<main>
    <div class="container">

        <div class="table-responsive text-nowrap">
            <h2>Shopping Basket</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Pet</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                {% for pet in object.pets.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ pet.pet.name }}</td>
                    <td>{{ pet.pet.price }}</td>
                    <td>
                        <a href="{% url 'exotic_bay:remove-single-item-from-cart' order_item.item.slug %}"><i
                                class="fas fa-minus mr-2"></i></a>
                        {{ pet.quantity }}
                        <a href="{% url 'exotic_bay:add-to-basket' pet.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
                    </td>
                    <td>

                        <a href="{% url 'exotic_bay:remove-from-basket' pet.item.slug %}" style='color: red;'>
                            <i class="fas fa-trash float-right"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan='5'>Your basket is empty</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div class='float-right'>
                            <a class='btn btn-primary btn-md my-1 p' href='/'>Continue shopping</a>
                            <a class='btn btn-warning btn-md my-1 p' href='/checkout/'>Proceed to checkout</a>
                        </div>
                    </td>

                </tr>
                {% endfor %}

                {% if object.get_total %}
                <tr>
                    <td colspan="4"><b>Order Total</b></td>
                    <td><b>${{ object.get_total }}</b></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a class='btn btn-warning float-left' href='/checkout/'>Proceed to checkout</a>
                        <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>

        </div>

    </div>
</main>

{% endblock %}