{% extends 'exotic_bay/base.html' %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}


<!-- Styling -->
<style>
    .row {
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .card_header {
        padding-top: 20px;
        padding-left: 20px;
    }

</style>

<!-- Featured Card -->
<div class="featured">
    <div class="card mb-6">
        <div class="card_header">
            <h4> Featured Pets</h4>
        </div>
        {% for pet in pets %}
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card h-100">
                    <a href=""><img alt="" class="card-img-top" src="{{ pet.image.url }}"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{pet.type}}/{{ pet.slug }}/">{{ pet.name }}</a>
                        </h4>
                        <h5>£{{ pet.price }}</h5>
                        <p class="card-text">{{ pet.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Recently Added Card -->
<div class="recently_added">
    <div class="card mb-6">
        <div class="card_header">
            <h4> Recently Added Pets</h4>
        </div>
        {% for pet in pets %}
        {% if pet.is_new %}
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card h-100">
                    <a href="#"><img alt="" class="card-img-top" src="http://placehold.it/700x400"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{pet.type}}/{{ pet.slug }}/">{{ pet.name }}</a>
                        </h4>
                        <h5>£{{ pet.price }}</h5>
                        <p class="card-text">{{ pet.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}