{% extends 'exotic_bay/base.html' %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}


<!-- Featured Cards -->
<div class="featured">
    <div class="card">
        <div class="card-header">
            <h4 style="text-align:center"> Featured Pets</h4>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            {% for pet in pets %}
            <div class="col mb-4">
                <div class="card">
                    <img alt="..." class="card-img-top" src="{{ pet.image.url }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'exotic_bay:pet_details' pet.type pet.slug %}">{{ pet.name }}</a>
                            <h6 class="card-subtitle mb-2 text-muted">{{ pet.type }}</h6>
                            <h6 class="card-title">£{{ pet.price }}</h6>
                            <p class="card-text">{{ pet.description }}</p>
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Recently Added Cards -->
    <div class="recently-added">
        <div class="card">
            <div class="card-header">
                <h4 style="text-align:center"> Recently Added </h4>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">
                {% if recently_added.exists %}
                {% for pet in recently_added %}
                <div class="col mb-4">
                    <div class="card">
                        <img alt="..." class="card-img-top" src="{{ pet.image.url }}">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'exotic_bay:pet_details' pet.type pet.slug %}">{{ pet.name }}</a>
                                <h6 class="card-subtitle mb-2 text-muted">{{ pet.type }}</h6>
                                <h6 class="card-title">£{{ pet.price }}</h6>
                                <p class="card-text">{{ pet.description }}</p>
                            </h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div>
                    <h3 style="text-align:center">There are no recently added items</h3>
                </div>
                {% endif %}
            </div>
        </div>
        {% endblock %}