{% extends 'exotic_bay/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

<style>
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        <!--  z-index: 1;-->
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .centered {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .centeredLeft {
        position: relative;
        top: 25%;
        left: 60%;
        transform: translate(-50%, -50%);
        text-align: left;
    }

    .centeredRight {
        position: relative;
        top: 20%;
        left: 55%;
        transform: translate(-50%, -50%);
        text-align: left;
    }

    .vl {
        border-left: 2px solid gray;
        height: 500px;
    }
</style>

<div class="split left">
  <div class="centeredLeft">
      <h1>Login</h1>
      <p>Login to purchase animals or add animals you are interested in to your watchlist.</p>
      <form id="login_form" method="post" action="{% url 'exotic_bay:login' %}">
          {% csrf_token %}

          <b>Email Address:</b> <input type="text" name="username" value="" size="50" /> <br />
          <b>Password:</b> <input type="password" name="password" value="" size="50" /> <br />

          &nbsp; <br />

          <a href="{% url 'exotic_bay:home' %}"><u>Forgot Your Password?</u></a> <br />

          <button class="btn btn-outline-secondary" type="submit">Login</button> <br />
      </form>
  </div>
</div>

<div class="vl centered"></div>

<div class="split right">
  <div class="centeredRight">
      <h2>Need an Account?</h2>
      <p>Still not registered? Click the button below to quickly register!</p>
      <a class="btn btn-outline-secondary" href="{% url 'exotic_bay:register' %}" role="button">Register</a>
  </div>
</div>

{% endblock %}