{% extends 'exotic_bay/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if pet %}
        {{ pet.name }}
    {% else %}
        Unknown Pet
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if pet %}

        <div>

        </div>

        <div>
            <h1>{{ pet.name }}</h1>
            <h4>{{ pet.scientificName }}</h4>
        </div>
        <div class="w-75 p-3">
        <div class="w-50 p-3">
            {% if image %}
                <img class="img-fluid img-thumbnail" src="{{ pet.image.url }}" />
            {% endif %}
        </div>
        </div>
        <div>
            <p>{{ pet.description }}</p>
        </div>
        <div>
            <h2>Care Details</h2>
            <p>{{ pet.careDetails }}</p>
        </div>
    {% endif %}
{% endblock %}