{% extends 'exotic_bay/base.html' %}
{% load staticfiles %}

{% block title_block %}
Watchlist
{% endblock %}

{% block body_block %}
<div class="card">
    <div class="card-header">
        <h1>Watchlist</h1>
    </div>
    <div class="container">
        {% if watchlist.pets.exists %}
        <div class="row py-3 px-5">
            {% for pet in watchlist.pets.all %}
            <div class="col-3 py-3">
                <div class="card h-100">
                    <a href="{% url 'exotic_bay:pet_details' pet.type pet.slug %}">
                        <img alt="" class="card-img-top" src="{{ pet.image.url }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'exotic_bay:pet_details' pet.type pet.slug %}">{{ pet.name }}</a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ pet.type }}</h6>
                        <h6 class="card-title">£{{ pet.price }}</h6>
                        <p class="card-text">{{ pet.description|truncatewords:20 }}</p>
                        <p class="card-text">
                            <a exotic_bay:remove-from-watchlist href="{% url "" pet.slug %}"
                            class="btn btn-danger btn-sm">
                            Remove from Watchlist
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <br/>
        <div class="col-4 mx-auto">
            <p style="text-align: center; font-size: 17px;">Your watchlist is empty</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}